body{
    margin: 0px;
    font-family: 'Poppins', sans-serif;
}


h1{
    font-size: 30px;
}


p{
    color: dimgray;
}


.jack-smith-name-highlight{
    color: deeppink;
    font-size: 30px;
}


.half-width{
    width: 40%;
    float: left;
    margin-left: 10%;
    margin-top: 50px;
}


.half-width img{
    width:70%;
}



.link-button{
    text-decoration: none;
    background-image: linear-gradient(45deg,#c9699b,#ba5d8d);
    padding:5px 20px;
    border-radius: 10px;
    color: white;
    font-weight: bold;
}


.jackSmith-top-banner{
    background-image: url("images/header-bg.png");
    background-size: 100% 100%;
    background-repeat: no-repeat;
}


section{
   height: 500px;
   padding-top: 5px;
}


.biography-text-area{
    margin-top: 150px;
    margin-left: 50px;
}


.biography-banner{
    background-image: url("images/biography-bg.png");
    background-size: 100% 100%;
    background-repeat: no-repeat;
}

.image-gallery{
     width: 80%;
     float: left;
    margin-left: 180px;
}


.image-gallery img{
     width:30%;
     margin-top: 40px;
}

.lastest-work-section{
    background-image: url("images/latest-work-bg.png");
    background-size: 100% 100%;
    margin-top: 50px;
    margin-bottom: 20px;
}

#latest-work-word{
    text-align: center;
    font-size: 40px;
}


#client-say{
    text-align: center;
}


#bruce-moccy{
    text-align: center;
    font-size: large;
}


#lower-bruce-moccy{
    font-size: x-small;
    color: dimgray;
}

#lorem-ipsum{
    text-align: center;
    color: dimgray;
}

.gmail-area{
    text-align: center;
    background-image: linear-gradient(45deg,#c9699b,#ba5d8d);
    padding:5px 20px;
    margin-left: 350px;
    margin-right: 350px;
    border-radius: 10px;
}


.gmail-area h6{
    color: white;
}


#gmail-text{
    font-size: large;
}


.client-area-section{
    background-image: url("images/footer-bg.png");
    background-size: 100% 100%;
    background-repeat: no-repeat;

}


footer p{
    text-align: center;
    font-size: 12px;
    margin-bottom: 40px;
}